@import "../../css/colors.css";
@import "../../css/units.css";

.library-item {
    flex-basis: 300px;
    max-width: 300px;
}

.library-item-image-container {
    position: relative;
    width: 100%;
}

.library-item-image {
    width: 100%;
    aspect-ratio: 2;
}

.library-item-metadata {
    grid-template-columns: 1fr 1fr;
}

.disabled {
    opacity: .5;
    cursor: auto;
}

.disabled:hover {
    border-color: $ui-black-transparent;
}

.coming-soon-text {
    position: absolute;
    background-color: $data-primary;
    border-radius: 1rem;
    box-shadow: 0 0 .5rem hsla(0, 0%, 0%, .25);
    padding: .5rem 1rem;
    font-size: .875rem;
    font-weight: bold;
    color: $ui-white;
}

[dir="ltr"] .coming-soon-text {
    transform: translate(calc(2 * $space), calc(2 * $space));
}

[dir="rtl"] .coming-soon-text {
    transform: translate(calc(-2 * $space), calc(2 * $space));
}
