.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    position: absolute;
    width: 100%;
    height: 100%;
}
.framed-avatar {
    width: 90%;
    height: 90%;
}
.frame {
    position: absolute;
    width: 112.5%;
    height: 112.5%;
}
