@import "../../css/units.css";
@import "../../css/colors.css";

.library-wrapper {
    display: flex;
    height: calc(100% - $library-header-height);
}

.library-scroll-grid {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    background: $ui-secondary;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 0.5rem;
}

.filter-bar {
    display: flex;
    justify-content: flex-start;
    background-color: $looks-transparent;
    font-size: .875rem;
}

.filter-bar-content {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    width: 20rem;
    padding: 1rem;
}

.arrow-icon-wrapper {
    align-self: center;
    padding: $space;
    cursor: pointer;
}

.arrow-icon {
    width: 1rem;
    height: 1.6rem;
    user-select: none;
}

[dir="rtl"] .arrow-icon:not(.is-opened),
[dir="ltr"] .arrow-icon.is-opened {
    transform: scaleX(-1);
}

.filter {
    flex-grow: 0;
}

.divider {
    border-bottom: 1px dashed $ui-black-transparent;
    transform: scaleX(1.05);
}

.tag-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .75rem;
}

.spinner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tw-gallery-mirror-note {
    opacity: 0.75;
    flex-basis: 100%;
}
