@import "../../css/units.css";
@import "../../css/colors.css";

.library-wrapper {
    display: flex;
    height: calc(100% - $library-header-height);
}

.library-scroll-grid {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    background: $ui-secondary;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 0.5rem;
}

.filter-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .75rem;
    background-color: $looks-transparent;
    padding: 1rem;
    font-size: .875rem;
}

.filter {
    flex-grow: 0;
}

.divider {
    border-bottom: 1px dashed $ui-black-transparent;
    transform: scaleX(1.05);
}

.tag-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .75rem;
}

.spinner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tw-gallery-mirror-note {
    opacity: 0.75;
    flex-basis: 100%;
}
