.pseudo-console-wrapper {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-wrap: anywhere;
    white-space: break-spaces;
}
