@import "../../css/colors.css";

.remember-container,
.remember-warning,
.sandboxed {
    margin: 8px 0;
}

.remember-container {
    display: flex;
    align-items: center;
}
.remember-checkbox {
    margin-right: 8px;
}
.remember-warning {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 81, 81, 0.25);
    border: 1px solid red;
}